[submodule "deps/imgui/imgui"]
	path = deps/imgui/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "deps/spdlog"]
	path = deps/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "deps/implot/implot"]
	path = deps/implot/implot
	url = https://github.com/epezent/implot.git
[submodule "deps\\GLFW"]
	path = deps\\GLFW
	url = https://github.com/glfw/glfw.git
[submodule "deps\\math_lib"]
	path = deps\\math_lib
	url = https://github.com/bitGraf/math_lib.git
[submodule "deps\\DTV"]
	path = deps\\DTV
	url = https://github.com/ange-yaghi/direct-to-video.git
